@charset "utf-8";

/* CSS Document */

body {
    margin: 0;
    padding: 0;
    font-family: "ヒラギノ角ゴ Pro W3";
    color: #800000;
    font-size: 15px;
}

.items {
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
    background-color: #800000;
}


/* アイテム別メニュー */

#itemsmenw {
    text-align: center;
    padding-left: 20px;
}

.nonSelect {
    display: none;
    /* 非表示 */
}

.menwproduct {
    background: #F8ECD8;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 700px;
}

.products {
    padding-right: 570px
}

.menwnoproduct {
    background: #F1DEBE;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 700px;
}


/* 素材指定 */

#materials {
    text-align: center;
    padding-left: 20px;
}


/* 都道府県指定 */

#city {
    text-align: center;
    padding-left: 20px;
}

.test {
    padding-left: 20px;
}


/* その他の指定 */

#another {
    text-align: center;
    padding-left: 20px;
}


/* チェックボックスの間隔 */

label+input[type="checkbox"],
label+label {
    margin-left: 1.5em;
}

#button {
    padding-top: 30px;
    text-align: center;
}