@charset "utf-8";

/* CSS Document */

body {
    margin: 0;
    padding: 0;
    font-family: 'Kozuka Gothic Pr6N';
    color: #333333;
    font-size: 12.67px;
    background-color: #bdb6ac;
}

.items {
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
    background-color: #333333;
}


/* アイテム別メニュー */

#itemsmenw {
    text-align: center;
}

.nonSelect {
    display: none;
    /* 非表示 */
}

.menwproduct {
    color: #FFF;
    background: #6e6c69;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100;
}

.products {
    padding-right: 0px
    /*padding-right: 570px */
}

.menwnoproduct {
    color: #FFF;
    background: #575553;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}


/* 素材指定 */

#materials {
    text-align: center;
}


/* 都道府県指定 */

#city {
    text-align: center;
    /*padding-left: 20px;*/
}


/*
.test {
    padding-left: 20px;
}
*/


/* その他の指定 */

#another {
    text-align: center;
}


/* チェックボックスの間隔 */

label+input[type="checkbox"],
label+label {
    margin-left: 1.5em;
}

#button {
    padding-top: 30px;
    text-align: center;
}

.services {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}