@charset "utf-8";

/* CSS Document */

body {
    margin: 0;
    padding: 0;
    font-family: "ヒラギノ角ゴ Pro W3";
    color: #800000;
    font-size: 15px;
}


/* 共通部分*/

#header {
    display: flex
}

div#header::after {
    content: '';
    background: url(picture/creater.png) no-repeat;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    right: 0px;
}

.member {
    text-decoration: none;
    text-align: right;
    padding-right: 116px;
}

@media (max-width: 768px) {}