@charset "utf-8";

/* CSS Document */

body {
    margin: 0;
    padding: 0;
    font-family: 'Kozuka Gothic Pr6N';
    color: #333333;
    font-size: 12.67px;
    background-color: #bdb6ac;
}


/* 共通部分*/

#header {
    background-image: url(picture/creater.png);
    background-repeat: no-repeat;
}


/*
div#header::after {
    content: '';
    background: url(picture/creater.png) no-repeat;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    right: 0px;
}
*/

.much_creater {
    padding-top: 10px;
    padding-left: 10px;
}

.member {
    text-decoration: none;
    text-align: right;
    padding-right: 35px;
}

@media (max-width: 768px) {}